.zker {
	padding-top: 100px;
	padding-bottom: 50px;
	font-family: "Almarai", sans-serif;
	/* background-color: #ddd; */
}
.zekrBox {
	background-color: #e5e5e5;
	color: black;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	line-height: 2rem;
}
.zekrTitle h2 {
	width: 30%;
	margin: auto;
	text-align: center;
	margin-bottom: 30px;
	padding-bottom: 10px;
	border-bottom: 2px solid black;
	display: flex;
	justify-content: space-around;
}

.zekrTitle .playIcon {
	display: flex;
	align-items: center;
}

@media (max-width: 991px) {
	.zekrTitle h2 {
		font-size: 20px;
		padding-bottom: 10px;
		width: 50%;
		margin: 40px auto;
	}
}

@media (max-width: 576px) {
	.zekrTitle h2 {
		font-size: 16px;
		padding-bottom: 10px;
		width: 50%;
		margin: 40px auto;
	}
}
