.favBox {
	background-color: white;
	width: 32%;
	padding: 10px 15px;
	border-radius: 4px;
	align-items: center;
	justify-content: space-between;
	margin: 10px 5px;
}

.trashIcon {
	cursor: pointer;
	color: rgb(196, 0, 0);
	z-index: 111;
}

@media (max-width: 991px) {
	.favBox {
		width: 49%;
	}
}

@media (max-width: 767px) {
	.favBox {
		width: 70%;
		margin: 10px auto;
	}
}

@media (max-width: 567px) {
	.favBox {
		width: 100%;
		margin: 10px auto;
	}
}
