.singleSura {
	width: 32%;

	background-color: white;
	margin-bottom: 30px;
	padding: 20px;
	transition: 0.3s;
	border-radius: 5px;
	position: relative;
}
.singleSura span {
	position: absolute;
	top: -10px;
	right: -10px;
	background-color: #44aa00;
	color: white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 25px;
	font-size: 10px;
}
.suraContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.singleSura:hover {
	background-color: #44aa00;
	color: white;
}

.play {
	cursor: pointer;
}

@media (max-width: 576px) {
	.singleSura {
		width: 100% !important;
	}
}
/* @media (max-width: 767px) {
	.singleReader {
		width: 100% !important;
	}
} */
@media (max-width: 991px) {
	.singleSura {
		width: 49%;
	}
}
