.home {
	padding-top: 80px;
}

.right {
	flex: 0.73;
	padding: 20px;
	position: relative;
}

.left {
	flex: 0.27;
	padding: 20px;
}

@media (max-width: 991px) {
	.right {
		flex: 0.7;
	}
	.left {
		flex: 0.3;
	}
}

@media (max-width: 1140px) {
	.row {
		flex-direction: column-reverse;
	}
	.right,
	.left {
		flex: 1;
		width: 100%;
	}
}
