.nav {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
	padding: 17px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	z-index: 1;
}
.nav .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list ul {
	display: flex;
	list-style: none;
	/* justify-content: space-between; */
}

.list ul li {
	margin: 0 10px;
}

.list ul li {
	font-size: 16px;
	font-weight: bold;
}
.list ul li a {
	text-decoration: none;
	color: black;
}
