.home {
	padding-top: 80px;
}

.right {
	flex: 0.73;
	padding: 20px;
	position: relative;
}

.left {
	flex: 0.27;
	padding: 20px;
}
.home input {
	margin-bottom: 20px;
}
.background {
	background-color: #f3e7e7;
	padding: 20px;
	border-radius: 6px;
}
@media (max-width: 991px) {
	.right {
		flex: 0.7;
	}
	.left {
		flex: 0.3;
	}
}
@media (max-width: 576px) {
	.container {
		width: 100% !important;
	}
	input {
		margin-right: 0;
	}
}
@media (max-width: 1140px) {
	.home .row {
		flex-direction: column-reverse;
	}
	.right,
	.left {
		flex: 1;
		width: 100%;
	}
}
